$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "scrollableTable.scss";
@import "stripedList.scss";

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.navbar-emergency {
  background: #707070;
  border-radius: 0;
  .navbar-nav > li > a {
    color: white;
  }
}

.quickevents {
  background: #d4d4d4;
  padding-top: 15px;
  padding-bottom: 15px;
  .emergencybtn {
      max-width: 100%;
      padding: 5px;
  }
}

.page-header {
  font-weight: bold;
  text-align: center;
}

.ng-invalid{
    border-color: red;
}

.badge-notify {
  background: red;
  position: relative;
  top: -65px;
  left: 25px;
  font-size: 8px;
}
.dropdown-notify {
  padding: 5px !important;
  height: 50px;
  font-size: 30px;
}
