.stripedList {
  li {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      background: #ececec !important;
      div {
        text-decoration:underline;
      }
    }
    &:nth-child(odd) {
      background-color: #f9f9f9;
      color: Gray;
    }
    &:nth-child(even) {
      background-color: White;
      color: Gray;
    }

    #icon {
      margin-top: 3px;
    };

    #date {
      font-style:oblique;
      font-size: 15px;
    };
  }
}

.stripedList {
  list-style-type:none;
  padding-left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
