<ul class="stripedList">
  <li ng-switch on="event.type.bezeichnung" ng-repeat="event in events | orderBy:'-date'" ng-click="go('/event/{{ event.id }}')">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-10 date">{{event.date | amTimeAgo}} | {{ event.user.name }}</div>
        <div class="col-xs-2"><input type="checkbox" ng-model="event.done" disabled="true"></div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-3 icon">
          <img ng-switch-when="personenschaden" ng-src="images/herz.svg" />
          <img ng-switch-when="feuer" ng-src="images/feuer.svg" />
          <img ng-switch-when="handwerk" ng-src="images/hammer.svg" />
          <img ng-switch-when="unfall" ng-src="images/unfall.svg" />
        </div>
        <div class="col-xs-9 additional">{{event.additional}}</div>
      </div>
    </div>
  </li>
  <li class="text-center"><button href="" ng-click="paginateEvents()" class="btn btn-default">ältere Ereignisse anzeigen</button></li>
</ul>
