<div class="container-fluid">
  <div class="rows">
    <div class="col-sm-3 col-xs-3 col-md-3"><button type="button"class="btn btn-danger"><img src="images/herz2.png" class="img-rounded" /></button></div>
    <div class="col-sm-3 col-xs-3 col-md-3"><button type="button" class="btn btn-warning"><img src="images/feuer.png" class="img-rounded"></button></div>
    <div class="col-sm-3 col-xs-3 col-md-3"><button type="button" class="btn btn-success"><img src="images/unfall.png" class="img-rounded"></button></div>
    <div class="col-sm-3 col-xs-3 col-md-3"><button type="button" class="btn btn-primary"><img src="images/hammer.png" clas="img-rounded"></button></div>
  </div>
</div>

<div class="container-fluid"
<h1><strong><i>Neues Ereignis melden</i></strong> <span class ="label label-default"></span></h1>

  <!-- define eventtype -->
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-md-6"><h5>Ereignistyp <span class="label label-default"></span></h5></div>
    <div class="col-sm-6 col-xs-6 col-md-6"><h5>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Eventart
          <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">medizinisch</a></li>
              <li><a href="#">unfall</a></li>
              <li><a href="#">feuer</a></li>
              <li><a href="#">panne</a></li>
              <li><a href="#">handwerklich</a></li>
            </ul>
      </div>
    </div>
  </div>

  <!-- get location -->
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-md-6"><h5>Ort<span class="label label-default"></span></h5></div>
    <div class="col-sm-6 col-xs-6 col-md-6"><input type="text" class="form-control"></div>
  </div>

  <!-- User -->
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-md-6"><h5>gemeldet von<span class="label label-default"></span></h5></div>
    <div class="col-sm-6 col-xs-6 col-md-6"><input type="text" class="form-control"></div>
  </div>

  <!-- event discription -->
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-md-6"><h5>Beschreibung<span class="label label-default"></span></h5></div>
    <div clas="col-sm-6 col-xs-6 col-md-6"><div class="form-group">
      <textarea class="form-control" rows="4"></textarea></div></div>
  </div>

  <!-- abort and submit buttons -->
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-md-9"><button type="button" class="btn btn-default">Abbrechen</button></div>
    <div class="col-sm-6 col-xs-6 col-md-3"><button type="button" class="btn btn-danger">Ereignis melden</button></div>
  </div>
</div>
<!-- end gridlayout -->
