<div class="container">
  <div class="row">
    <form ng-submit="login(user,password)" class="col-sm-8 col-xs-10 col-sm-offset-2 col-xs-offset-1">
      <h3 class="text-center">Anmelden</h3>
      <div class="form-group">
        <label for="emailadress">Email Adresse:</label>
        <input type="text" class="form-control" ng-model="user">
      </div>
      <div class="form-group">
        <label for="pwd">Passwort:</label>
        <input type="password" class="form-control" ng-model="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Jetzt anmelden</button>
      <br />
      <p class="text-center">
        Du hast noch keinen Account? <a ng-href="#/register">Jetzt registrieren</a>
      </p>
    </form>
  </div>
</div>
