<div class="">
  {{ userService.user }}
</div>
<div class="eventtabelle">
  <div ng-include="'views/eventoverview.html'"></div>
</div>

<div class="baqend">

  <!-- <p ng-repeat="event in events track by event.id">
    Event: {{ event }}
  </p> -->

	<a href="" class="btn btn-default" ng-click="addEvent()">Neues Event hinzufügen</a>
</div>
{{ coords }}
<div id="map_canvas">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
    <ui-gmap-markers idkey="id" doCluster='true' models="markers" coords="'self'" icon="'icon'" click='onClick'>
      <ui-gmap-windows show="show">
        <div ng-non-bindable>{{content}}</div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>
