<div class="">
  {{ userService.user }}
</div>
<div class="baqend">
  <p ng-repeat="event in events track by event.id">
    Event: {{ event }}
  </p>
	<a href="" class="btn btn-default" ng-click="addEvent()">Neues Event hinzufügen</a>
</div>

<div id="map_canvas" ng-controller="MainCtrl">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
      <ui-gmap-marker ng-repeat="event in events" idKey='event.id' coords='event.location' options='{draggable: false, labelContent: event.id}'></ui-gmap-marker>
    </ui-gmap-google-map>
</div>
